# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/frontend/build
/frontend/dist
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
.temp
.tmp
.cache/

# Local Netlify folder
.netlify

# Vite
.vite/
